@model HW3Project.Models.MovieList
@using HW3Project.Models;

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> Film Library </title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>

        <div class = "text-center p-2">
            <h1>Film Library</h1>
            <table class = "table table-bordered table-striped table-sm">
                <thead>
                    <tr><th>Film ID</th><th>Movie Title</th><th>Genre</th><th>Movie Length</th><th>Quantity</th>
                </thead>
                <tbody>
                    @foreach (var m in Model.films)
                    {
                        <tr>
                            <td>@m.movieId</td>
                            <td>@m.movieTitle</td>
                            <td>@m.movieGenre</td>
                            <td>@m.movieLength</td>
                            <td>@m.quantityInStock</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class = "text-center p-2">
            <h4>Enter movie you would like to rent by entering the information required</h4>
            <form asp-action="MyLibrary" method="get">
                <div asp-validation-summary="All"></div>
                <div>
                    <label>Enter movie id:</label>
                    <input name ="movieId" min="1" max="10" type="number" required />
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </body>
</html>